Repository balena-io-modules/odata-to-abstract-sql: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --no-prettier

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --no-prettier"
	],
}

v4.4.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix linting and make use of import type
  package.json
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

Remove circleci publishing in favor of balenaci
  .circleci/config.yml
Due: none

Remove node 8 from the circleci test matrix
  .circleci/config.yml
Due: none

v4.4.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Switch to native array type check
  src/odata-to-abstract-sql.ts
  test/chai-sql.coffee
Due: balena-lint, balena-lint --typescript --no-prettier

Switch to native number type check
  src/odata-to-abstract-sql.ts
  test/chai-sql.coffee
Due: balena-lint, balena-lint --typescript --no-prettier

Switch to native string type check
  src/odata-to-abstract-sql.ts
  test/chai-sql.coffee
Due: balena-lint, balena-lint --typescript --no-prettier

Switch to native includes
  src/odata-to-abstract-sql.ts
  test/chai-sql.coffee
Due: balena-lint, balena-lint --typescript --no-prettier

Switch to native some
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

Switch to native find
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

Switch to native map
  src/odata-to-abstract-sql.ts
  test/chai-sql.coffee
Due: balena-lint, balena-lint --typescript --no-prettier

Switch to native forEach where possible
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v4.4.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Reduce lodash usage
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v4.4.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Optimize `getRelationships`
  .lintstagedrc
  package.json
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v4.4.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update to @balena/sbvr-types 3.0.0
  package.json
  test/chai-sql.coffee
Due: balena-lint

CI: Add node 14 to the test matrix
  .circleci/config.yml
Due: none

v4.4.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Dev: Update lf-to-abstract-sql to 3.x
  package.json
  test/chai-sql.coffee
  test/filterby.coffee
  test/resource_parsing.coffee
Due: balena-lint

v4.4.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update to @balena/odata-parser 2.x
  package.json
  src/odata-to-abstract-sql.ts
  test/resource_parsing.coffee
  test/test.coffee
Due: balena-lint, balena-lint --typescript --no-prettier

v4.5.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Dev: Update to @balena/lf-to-abstract-sql 4.x
  package.json
  test/chai-sql.coffee
Due: balena-lint

v4.5.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Dev: Update to @balena/sbvr-parser 1.x
  package.json
  test/chai-sql.coffee
Due: balena-lint

v4.5.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Enforce strict type checking
  package.json
  src/odata-to-abstract-sql.ts
  tsconfig.json
Due: balena-lint --typescript --no-prettier

v4.5.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update to @balena/abstract-sql-compiler 7.x
  package.json
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

Rename to @balena/odata-to-abstract-sql
  package.json
Due: none

v5.0.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Allow specifying valid methods for a specific match call
  package.json
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.1.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Improve typings
  package.json
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.1.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add support for specifying named keys
  package.json
  src/odata-to-abstract-sql.ts
  test/resource_parsing.coffee
Due: balena-lint, balena-lint --typescript --no-prettier

v5.2.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none
