Repository balena-io-modules/odata-to-abstract-sql: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint, balena-lint --typescript --no-prettier

.lintstagedrc:

{
	"*.coffee": [
		"balena-lint"
	],
	"*.ts": [
		"balena-lint --typescript --no-prettier"
	],
}

Export `isBindReference`
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.3.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update dependencies
  package.json
  src/odata-to-abstract-sql.ts
  test/mocha.opts
Due: balena-lint --typescript --no-prettier

v5.3.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Avoid trying to rewrite binds if there are none to rewrite
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.3.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Add support for official abstract-sql table definitions
  package.json
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.4.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update abstract-sql-compiler to 7.4.2
  package.json
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.4.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

WIP
  package.json
Due: none

v5.5.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Delete CODEOWNERS
  .github/CODEOWNERS
Due: none

Reformat with the latest prettier
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.4.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

v5.4.3
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Convert tests to type checked javascript
  .lintstagedrc
  package.json
  test/chai-sql-types.d.ts
  test/chai-sql.coffee
  test/chai-sql.js
  test/expand.coffee
  test/expand.js
  test/filterby.coffee
  test/filterby.js
  test/orderby.coffee
  test/orderby.js
  test/paging.coffee
  test/paging.js
  test/resource_parsing.coffee
  test/resource_parsing.js
  test/select.coffee
  test/select.js
  test/stress.coffee
  test/stress.js
  test/test.coffee
  test/test.js
  tsconfig.js.json
  tsconfig.json
Due: balena-lint, balena-lint --typescript --no-prettier

v5.4.4
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Fix `isBindReference` check for non-null non-object types
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

Update dependencies
  package.json
Due: none

v5.4.5
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Improve `ResourceFunction` typings
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.4.6
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Use a hash instead of random str when it's necessary to shorten aliases
  package.json
  repo.yml
  src/odata-to-abstract-sql.ts
  test/filterby.js
Due: balena-lint --typescript --no-prettier

v5.4.7
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Use the full alias for the prefix hash
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.4.8
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Remove circleci
  .circleci/config.yml
Due: none

v5.4.9
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update dependencies
  package.json
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.4.10
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Improve support for computed fields by respecting them in more places
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.4.11
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Use nullish coalescing when sensible
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.4.12
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Use `SELECT *, $computedFields` for adding computed fields
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier

v5.4.13
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Avoid unnecessary loop when adding computed fields to `SELECT *`
  src/odata-to-abstract-sql.ts
Due: balena-lint --typescript --no-prettier
